<!DOCTYPE html>
<html>
<head>
    <title> LE-TEHNIKA by FLASK</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/cooler.js"></script>
    <script src="js/cooler.js?u={{ last_updated_2 }}"></script>
    <meta http-equiv="refresh" content="60">
</head>

<body style="background-color: black">

<p>
<img src = "{{ url_for('static', filename='1024px-Festo_logo.png') }}" width="150" style=" float:right; margin:10px 40px"> 
</p>
<br><br>
<br><br>
<center>
<img src="{{ url_for('static', filename=d)}}", style="height: 90vh; min-width:330px;">
</center>
</body>
</html> 
